.chartItem,
.chartCreate {

    pre {
        font-size: 12px;
        background-color: $color-background-light;
        padding: 15px;
    }

    form {
        margin: 30px 0;

        input[type="text"] {
            padding: 10px;
        }

        input {
            border: none;
        }

    }
}
