html,
body {
    background-color: $color-background;
    font-family: Helvetica, Arial;
    color: $color-text-main;
}

.main {
    padding: 40px 20px 60px;
}

.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: $color-white;
    background-color: $color-button;

    &:hover {
        background-color: $color-background-light;
        color: $color-text-main;
    }
}
